*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/nbproject/
/server/application/config/database.php
/server/application/config/config.php
/fontss/
/files/
/app/files
/app/imgs/
/app/texts/